/*bottom block*/
.bottom-block {
	background: url(../img/bg-decor.jpg) no-repeat 50% 50%;
	background-size: cover;
	padding-top: 28px;
	padding-bottom: 27px;
	@include breakpoint(medium down) {
		padding-bottom: 55px;
	}
	@include breakpoint(small down) {
		padding-bottom: 32px;
	}
}