/*breadcrumbs*/
.breadcrumbs {
	li {
		position: relative;
		&:first-child {
			&:after {
				display: none;
			}
		}
		&:after {
			position:absolute;
			top:50%;
			-webkit-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
			left:-18px;
			content: '>';
			margin: -2px 0 0 0;
		}
	}
	a {
		&:hover {
			text-decoration: none;
		}
	}
}